{% extends '::base.html.twig' %}

{% block title %}
  Hello!!!
{% endblock %}

{% block body %}

  Hello {{ name }}

  <h2>Event Details</h2>
  {{ event.name }}<br>
  {{ event.location }}

{% endblock %}
